body{
	background-size: 100%;
}
#container{
	background-color: brown;
	height: 700px;
	text-align: center;
	border-radius-top-left: 20px;
	border-radius-top-right: 20px;
	margin: 0px;
}
#intro{
	margin-top: 200px;
	background-color: white;
}
#gameOver{
	position: absolute;
	color: red;
}
#correct{
	position: absolute;
	color: green;
}
#output1{
	background-color: silver;
	border-style: double;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	font-family: sans-serif;
	color: #330d00;
}
#output2{
	background-color: #003300;
	border-top-style: groove;
	border-bottom-style: groove;
	font-family: sans-serif;
	color: white;
	margin-top: 20px;
}
#enter{
	width: 200px;
    margin-top: 0px;
}
#guess:focus{
	background-color: #15151e;
	color: #ffff00;
}
input[type"text"]{
	width: 120px;
	height: 50px;
	outline: none;
}
.stats{
	margin-left: 20px;
	padding-right: 40px
}
button{
	width: 120px;
	height: 40px;
	font-size: 15px;
	padding: 10px;
	background-color: #ff6600;
	border-radius: 5px;
}
button:hover{
	background-color: red;
	border-width: 4px;
	border-bottom-style: groove;
}
